body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(243, 230, 255);

  font-family: "Poppins", serif;
  color: var(--white-soft);
  padding-top: 40px;
}
.background-cross {
  position: fixed;
  top: 30px;
  height: 700px;
  display: flex;
  justify-self: center;
  z-index: -1;
  filter: brightness(-5);
  filter: blur(14px);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  gap: 20px;
  background-color: inherit;
  padding: 20px 10px;
  vertical-align: center;
  /* margin-bottom: 1px; */
}

.logo {
  font-family: "Leckerli One", cursive;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  margin-right: 20px;
  font-size: 25px;
}
.devotion {
  padding: 20px;
}
.devotion-body {
  width: 100%;
}
.week-header {
  background-color: rgb(38, 38, 38);
  color: white;
}
.devotion-header {
  display: flex;
  padding: 20px 0px;
  gap: 5px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.topic {
  background-color: rgb(90, 9, 167);
  color: white;
  font-size: 18px;
}
.devotion-header h1 {
  background-color: gray;
}
.box {
  padding: 5px 20px;
  font-size: 18px;
  position: relative;
  clip-path: polygon(
    12px 0,
    calc(100% - 12px) 0,
    100% 50%,
    calc(100% - 12px) 100%,
    12px 100%,
    0 50%
  );
}
.devotion-body {
  padding: 0px 20px;
  width: fit-content;
  margin: 0;

  padding: 10px 10px 10px 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.switch-mode,
.back-home {
  padding-top: 10px;
  font-size: 25px;
  cursor: pointer;
}
.join-us {
  padding: 0px 20px;
  margin-top: 100px;

  display: flex;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  bottom: 0;
  color: rgba(0, 0, 0, 0.565);
}
@media screen and (max-width: 700px) {
  nav {
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
  }
  .logo {
    font-size: 30px;
  }
  .devotion {
    padding: 15px;
    padding-top: 50px;
  }
  .box {
    font-size: 16px;
    padding: 8px 40px;
  }
  .devotion-header {
    padding-top: 40px;
    justify-content: center;
  }
  .week-theme h2,
  .day-verse h2,
  .reflection h2,
  .prayer h2 {
    font-size: 20px;
  }
  .day-verse h1 {
    font-size: 22px !important;
  }
  .week-theme p,
  .reflection,
  .prayer {
    font-size: 14px;
    text-align: center;
  }
  .join-us {
    font-size: 12px;
    margin: 0;
    bottom: 5px;
    flex-wrap: wrap;
    right: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-cross {
    top: 200px;
    height: 600px;
    filter: contrast(-10);
    filter: blur(20px);
  }
  .devotion-body {
    text-align: center;
  }
}
.notdevotion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 40px;
  flex-wrap: wrap;
  height: 100vh;
  vertical-align: center;
}
.notdevotion h1 {
  font-size: 27px;
  padding-top: 50px;
}
